a {
    color: #007acc;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-item,.nav-link {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #005c99;
    margin-bottom: 2px;
}
.sub-text {
    color: #777;
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 30px 0 20px 0;
}

.timeline-panel {
    list-style-type: none;
    margin-top: 30px;
}
.timeline-image {
    max-width: 80px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.timeline-title {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
.timeline-body {
    color: #555;
}

.upper {
    text-transform: uppercase;
}

.list {
    margin-top: 20px;
}
.list-panel {
    list-style-type: none;
    padding-top: 10px;
}


.section-heading {
    padding: 0 0 10px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.profile-image {
    width: 230px;
    height: 230px;
    margin: 10px 0 30px 0;
    padding: 8px;
    background-color: #fff;
    border: 2px solid white;
    border-radius: 30px;
}

.profile-overview {
    width: 25%;
    height: 100%;
    min-width: 250px;
    max-width: 400px;
    padding: 30px 0 100px 0;
    background-color: #eee;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.profile-detail {
    margin-right: 20px;
    margin-left: 25%;
    min-width: 600px;
    max-width: 1000px;
    height: 100%;
    height: 100%;
    padding: 30px;
}
