a {
    color: #007a7a;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
}
.sub-text {
    color: #777;
}

.nav-tabs > li {
    font-size: 18px;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    background-color: white;
    border: none;
    color: #666;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    font-weight: bold;
    border: none;
    border-bottom: 3px solid #007a7a;
}


.timeline-panel {
    list-style-type: none;
    margin-bottom: 30px;
}
.timeline-image {
    max-width: 80px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.timeline-title {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
.timeline-title-full {
    width: 96%;
    display: inline-block;
    vertical-align: top;
}
.timeline-body {
    color: #555;
}

.upper {
    text-transform: uppercase;
}

.list {
    margin-left: -20px;
}
.list-panel {
    list-style-type: none;
    padding-bottom: 15px;
}


.section-heading {
    padding: 15px 0 10px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.split {
    padding: 20px 0 15px 0;
}
.border {
    border-bottom: 1px solid #ddd;
}

.btn-icon {
    background-color: #007a7a;
    color: white;
    font-size: 18px;
    padding: 2px;
    width: 30px;
    height: 30px;
}
.btn-cv {
    width:100%;
    max-width:300px;
    font-size: 14px;
    border: 1px solid #ddd;
}

body {
    font-size: 16px;
}

.profile-image {
    float:left;
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
}
.profile-info {
    float:left;
    margin-bottom: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    width: 96%;
    margin-left: 2%;
    margin-left: 2%;
    margin-top: 20px;
  }
  .profile-info {
    padding-left: 50px;
    width: 300px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 80px;
  }
  .profile-info {
    padding-left: 0;
    width: 220px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 80%;
    max-width: 1092px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  .profile-info {
    padding-left: 0;
    width: 220px;
  }
}
