a {
    color: #007a7a;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
}
.nav-item,.nav-link {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #005c99;
    margin-bottom: 2px;
}
.sub-text {
    color: #777;
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 30px 0 20px 0;
}

.timeline-panel {
    list-style-type: none;
    margin-top: 30px;
}
.timeline-image {
    max-width: 80px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.timeline-title {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
.timeline-body {
    color: #555;
}

.upper {
    text-transform: uppercase;
}

.list {
    margin-top: 20px;
}
.list-panel {
    list-style-type: none;
    padding-top: 10px;
}


.section-heading {
    padding: 15px 0 10px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.split {
    padding: 15px 0 5px 0;
}
.border {
    border-bottom: 1px solid #ddd;
}

.btn-icon {
    background-color: #007a7a;
    color: white;
    font-size: 16px;
    padding: 2px;
    width: 26px;
    height: 26px;
}

body {
    position: absolute;
    left: 50%;
    max-width: 1024px;
}

.profile-image {
    float:left;
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
}
.profile-info {
    float:left;
    margin-bottom: 20px;
}

.profile-detail {
    height: 100%;
    /* padding-left: 50px; */
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    width: 860px;
    margin-left: -430px;
    margin-top: 20px;
  }
  .profile-info {
    padding-left: 50px;
    width: 300px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    width: 1000px;
    margin-left: -500px;
    margin-top: 80px;
  }
  .profile-info {
    padding-left: 0;
    width: 220px;
  }
}
